---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('January 22 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Howdy all!
	</p>
	<p>
		I'm Ben, an ex-geologist and I.T. professional since 2016. I've been untangling rats nest (both literally and figuratively) and putting out fires (thankfully only figuratively) from networks large and small since 2016.
		With a background at a Managed Service Provider with hundreds of clients, I've got plenty of war stories to tell you!
	</p>
	<p>
		I'm currently focused on designing, implementing, and maintaining large scale software. Unfortunately, I have very little experience in that! That's where this blog comes in. 
	</p>
	<p>
		There's a ton of documentation out there, and more than a ton of unhelpful tutorials and code snippets from stackoverflow.
		Most of the time they're targeted at the very new and very greybeard developers out there. Let me assure you, this isn't anything like that.
	</p>
	<p>
		For better or for worse, you're going to get to read about the struggles of someone with an advanced knowledge of I.T. Operations try and flounder his way through making exciting scalable software. Maybe this will resonate with some of you, probably not. 
	</p>
	<p>
		However, I know there are many of us in the standard I.T. Operations space thinking about learning to be a Software Engineer. 
		Maybe watching me struggle to succeed will give someone out there the little confidence boost needed to take the first step.
	</p>
	<p>
		The first step is the only one that really matters.
	</p>
</Layout>
