---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { MyLine } from '../components/react/MyLine';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, Everyone!</h1>
			<p>
				Welcome to my blog!
			</p>
			<p>
				My name is Benjamin Crouch II. I've been working in I.T. Operations for several years.
				I've worked on Windows, Linux, FreeBSD ❤😈❤, enterprise networking, information security, DevOps, and everything else I could get my hands on... except for software engineering and databases.
			</p>
			<p>
				<strong>WELL THIS YEAR THAT ENDS!</strong>
			</p>
			<p>
				Starting 1/1/2023 I've been working towards spending 1,000 hours studying software engineering, databases, and building scalable web apps.
				I hope you enjoy following me through my journey. I'm sure I'll stumble across a lot of difficult and interesting things, and I'd love to share them with you.
			</p>
			<p>
				<strong>See What I'm Studying <a href="/progress">Here</a></strong>
			</p>
			<MyLine client:only />
		</main>
		<Footer />
	</body>
</html>
